<h1 id="welcome">Welcome, {{userdata.first_name}}</h1>
<h3 id="yourSign">Check out your daily horoscope for {{userdata.astrology_sign}}</h3>


</h3>

<div class="container portfolio" id="profile">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <img src="https://image.ibb.co/cbCMvA/logo.png" />
            </div>
        </div>
    </div>
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            <img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bio-content">
                    <h1 id="userName">Hi there, I'm {{userdata.first_name}}</h1>
                    <h3 id="userSign">I'm a {{userdata.astrology_sign}}</h3>
                    <h3 id="bio">I enjoy {{userdata.user_bio}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
